<%- include('./header') %>
<!-- Page Content -->
<div class="container">

 <div class="row">
   <div class="col-lg-3">
     <h1 class="my-4">Admin</h1>
     <div class="list-group">
       <a href="/admin/categorias" class="list-group-item active">Categorias</a>
       <a href="#" class="list-group-item">Produtos</a>
       <a href="#" class="list-group-item">Usuários</a>
     </div>
   </div>

   <!-- /.col-lg-3 -->


   <!-- /.col-lg-9 -->

 </div>

</div><br>

<!-- /.container -->

<%- include('../footer') %></br>