<%- include('../header') %>
<!-- Page Content -->
<div class="container">

    <br><form method="POST">
        <header class="card-header">
            <h4 class="card-title mt-2">Edit Category
              <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
            </h4>
        </header>

        <br><div >
            <label for="inputEmail4">Category</label>
            <input type="text" class="form-control <% if(errors.indexOf('category') >= 0){ %> is-invalid <% } %>" id="category" name="category" placeholder="Nome da categoria" value="<%- form.category %>">            
            <div class="invalid-feedback">
              Please, enter a category.
            </div>
          </div><br>
        <div class="form-group">
          <label for="inputAddress">Description</label>
          <textarea class="form-control <% if(errors.indexOf('description') >= 0){ %> is-invalid <% } %>" name="description" id="description" cols="30" rows="10"> <%- form.description %></textarea>
          <div class="invalid-feedback">
            Please, enter a description.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update category</button>
      </form>

 </div>

</div><br>

<!-- /.container -->

<%- include('../../footer') %>