<%- include('../header') %>
<!-- Page Content -->
<div class="container">

    <br><form method="POST">
        <header class="card-header">
            <h4 class="card-title mt-2">Editar Categoria</h4>
        </header>

        <br><div >
            <label for="inputEmail4">Categoria</label>
            <input type="text" class="form-control <% if(errors.indexOf('category') >= 0){ %> is-invalid <% } %>" id="category" name="category" placeholder="Nome da categoria" value="<%- form.category %>">            
            <div class="invalid-feedback">
              Por favor, informe uma categoria.
            </div>
          </div><br>
        <div class="form-group">
          <label for="inputAddress">Descrição</label>
          <textarea class="form-control <% if(errors.indexOf('description') >= 0){ %> is-invalid <% } %>" name="description" id="description" cols="30" rows="10"> <%- form.description %></textarea>
          <div class="invalid-feedback">
            Por favor, informe uma descrição.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar nova categoria</button>
      </form>

 </div>

</div><br>

<!-- /.container -->

<%- include('../../footer') %>